<section class="how-it-works-foto-sec">
  <div class="container how-it-works-con">
    <div class="how-it-works-foto"></div>
  </div>
</section>

<section class="how-it-works-order-sec">
  <div class="container how-it-works-con-order">
    <div class="how-it-works-order">
      <h2 class="how-it-works-item">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <p class="how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
    </div>
  </div>
</section>
