<section class="section vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-content">
      <h2 class="vegetables-content-title">organic <span>vegetables</span></h2>
      <p class="vegetables-content-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">eggplant</h3>
          <p class="vegetables-card-text">60 uah / kg</p>
        </div>
        <img
          srcset="../img/eggplant@2x.png 2x, ../img/eggplant.png 1x"
          class="vegetables-list-item-img"
          src="../img/eggplant.png"
          alt="eggplant"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">leek</h3>
          <p class="vegetables-card-text">50 uah / kg</p>
        </div>
        <img
          srcset="../img/leek@2x.png 2x, ../img/leek.png 1x"
          class="vegetables-list-item-img"
          src="../img/leek.png"
          alt="leek"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">mushrooms</h3>
          <p class="vegetables-card-text">40 uah / kg</p>
        </div>
        <img
          srcset="../img/mushrooms@2x.png 2x, ../img/mushrooms.png 1x"
          class="vegetables-list-item-img"
          src="../img/mushrooms.png"
          alt="mushrooms"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">corn</h3>
          <p class="vegetables-card-text">60 uah / kg</p>
        </div>
        <img
          srcset="../img/corn@2x.png 2x, ../img/corn.png 1x"
          class="vegetables-list-item-img"
          src="../img/corn.png"
          alt="corn"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">sweet potatoes</h3>
          <p class="vegetables-card-text">50 uah / kg</p>
        </div>
        <img
          srcset="../img/sweet-potatoes@2x.png 2x, ../img/sweet-potatoes.png 1x"
          class="vegetables-list-item-img"
          src="../img/sweet-potatoes.png"
          alt="potato"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">carrot</h3>
          <p class="vegetables-card-text">40 uah / kg</p>
        </div>
        <img
          srcset="../img/carrot@2x.png 2x, ../img/carrot.png 1x"
          class="vegetables-list-item-img"
          src="../img/carrot.png"
          alt="carrot"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
