.how-it-works-foto-sec {
  background-color: #7a3145;
}

.how-it-works-con {
  padding-top: 40px;
  padding-bottom: 40px;
}

.how-it-works-foto {
  display: block;
  width: 335px;
  height: 450px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.3),
      rgba(20, 20, 20, 0.3)
    ),
    url(../img/how-it-works/mob/Rectangle-1x.jpg);
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .how-it-works-foto {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.3),
        rgba(20, 20, 20, 0.3)
      ),
      url(../img/how-it-works/mob/Rectangle-2x.jpg);
  }
}

.how-it-works-order-sec {
  background-color: #576f35;
}

.how-it-works-con-order {
  padding-top: 80px;
  padding-bottom: 48px;
}

.how-it-works-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.how-it-works-item-part {
  color: rgba(251, 251, 251, 0.3);
}

.how-it-works-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.how-it-works-list {
  border-radius: 15px;
  padding: 17px 24px 17px 24px;
  max-width: 335px;
  max-height: 76px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  gap: 29px;
}

.how-it-works-list-num {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background: #7a3145;
  border-radius: 50%;
  outline: 5px solid rgba(122, 49, 69, 0.3);
  min-width: 42px;
  min-height: 42px;
  align-items: center;
  justify-content: center;
}

.how-it-works-list-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.how-it-works-list-text-part {
  font-weight: 700;
  color: #141414;
}

.how-it-works-list:not(:last-child) {
  margin-bottom: 20px;
}
